version: "3.9"
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-service
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  order-db:
    image: postgres:15
    container_name: order-db
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: orderuser
      POSTGRES_PASSWORD: orderpass
    ports:
      - "5433:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data
      - ./OrderService/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  inventory-db:
    image: postgres:15
    container_name: inventory-db
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: inventoryuser
      POSTGRES_PASSWORD: inventorypass
    ports:
      - "5434:5432"
    volumes:
      - inventory_db_data:/var/lib/postgresql/data
      - ./InventoryService/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

volumes:
  rabbitmq_data:
  order_db_data:
  inventory_db_data:
